node_modules

#Hardhat files
testa
cache
artifacts

.env

**/**/database-debug.log
**/**/firebase-debug.log
**/**/firestore-debug.log
**/**/ui-debug.log
**/**/firebase-admin.json
**/**/admin.json
.vscode

.firebase